<footer class="text-center text-white" style="background-color: #0a4275;">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <section class="mb-4">
            <!-- Facebook -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.facebook.com/profile.php?id=100005476542310" role="button"><i
                    class="fab fa-facebook-f"></i></a>

            <!-- Twitter -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.linkedin.com/in/karan-jayswal-43ab42209/" role="button"><i
                    class="fab fa-twitter"></i></a>

            <!-- Google -->
            <a class="btn btn-outline-light btn-floating m-1" href="mailto:karanjayswal353@hotmail.com" role="button"><i
                    class="fab fa-google"></i></a>

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1"
                href="https://www.linkedin.com/in/karan-jayswal-43ab42209/" role="button"><i
                    class="fab fa-linkedin-in"></i></a>

            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/karanjays" role="button"><i
                    class="fab fa-github"></i></a>
        </section>
    </div>

    <!-- copywrite -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2021 Copyright:
        <a class="text-white" href="/">collegediary.com</a>
    </div>

</footer>

</html>