<%- include('partials/header') %>

    <body>
        <div class="container">
            <h1 style="text-align: center; text-decoration: underline;">NOTICE</h1>

            <% for (let i=notices.length - 1; i>= 0; i--) { %>
                <div class="notice-box">
                    <h2>
                        <%= notices[i].title %>
                    </h2>
                    <p>
                        <%= notices[i].content %>
                    </p>
                    <a href="#">Read more...</a>

                </div>
                <% } %>
        </div>
    </body>

    <%- include('partials/footer') %>